<%= @insp.quote %>
<br>
<br>
<br>
<br>
<br>

<ul class="status">
<li><%= form_for @insp do |u|%>
  	<%= u.hidden_field :status, value: "active"%>
  	<%= u.submit "active", :class => "status-button"  %>
  	<% end %></li>`
<li><%= form_for @insp do |u|%>
  	<%= u.hidden_field :status, value: "inactive" %>
  	<%= u.submit "inactive", :class => "status-button"  %>
  	<% end %></li>
<li><%= form_for @insp do |u|%>
  	<%= u.hidden_field :status, value: "whatevs" %>
  	<%= u.submit "whatevs", :class => "status-button"  %>
  	<% end %></li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<small><%= link_to "back to main", users_path %></small>