<!-- <h1 class = "theme-name"><%= "#{@theme.name}" %></h1> -->
<% if @theme.id == 6 %>
<% if flash[:alert] %>
    <div class="alert-add-quotes"><%= flash[:alert] %></div>
<% end %>
<br>
<h3>
	<% if @current_subs.count == 0 %>
	<div class="subscribe-custom">
		<%= link_to "Subscribe", new_subscription_path(:user_id => current_user.id, :theme_id => @theme.id )%>
		</div>
	<% else %>
		<%= button_to "UnSubscribe", subscription_path(:user_id => current_user.id, :theme_id => @theme.id), :method => :delete, :class => "unsubscribe-custom" %>
	<% end %>
</h3>

	<div class="custom">
	<h2>Added Quotes</h2>
	<ul>
	<% @theme.inspirations.each do |i| %>
		<li id="all-quotes"><%= link_to "Delete.", i, :method => :delete %> 	<%= i.quote %></li>
	<% end %>
	</ul>
	<br><br>
	<h2>All Quotes</h2>
	<ul>
		<% @bob.each do |b| %>
		<li><%= link_to "Add.", new_inspiration_path(:quote => b.quote) %> <%= b.quote %></li>
		<% end %>
	</ul>
	</div>

<% else %>
<% if @current_subs.count == 0 %>
<div class="sample-quote">
<%= @theme.inspirations.sample.quote %>
</div>
<div class="subscribe">
	<%= link_to "Subscribe", new_subscription_path(:user_id => current_user.id, :theme_id => @theme.id ) %>
</div>
<% else %>

<div class="sample-quote">
<%= @theme.inspirations.sample.quote %>
</div>
<%= button_to "UnSubscribe", subscription_path(:user_id => current_user.id, :theme_id => @theme.id), :method => :delete, :class => "unsubscribe" %>
<% end %>
<% end %>

<!-- <div class="themes-backtomain">
<%= link_to "Back to Main", root_path %>
</div> -->