<% if current_user %>
   <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  	<% end %>
  <%= javascript_include_tag "application" %>
  <div id="quote">
  <p>"Success is not final, failure is not fatal, it is the courage to continue that counts."</p>
  </div>
  <nav id="global_nav">
  <ul class="no-js" id="about-js">
    <li >
    <a href="#" onclick="javascript:return false;"><div class="about">About.</div></a>

    <div class="hidden" id="about-hidden"><div>
    Everyone has the ability to do great things. You give us your number and we'll text you the daily motivation to do them. </div><br><div><strong><em>
    "Go on, lean in. Listen. Do you hear it? Carpe. Hear it? Carpe. Carpe Diem. Seize the day boys. Make your lives extraordinary."</em></strong></div>

    </div>
    </li>
  </ul>
</nav>
<nav id="global_nav" class="section">
	<ul class="no-js">
		<% @themes.each do |t| %>
		<li >

		<a href="#" onclick="javascript:return false;"><div class="themes-click"><%= "#{t.name}." %></div></a>

		<div class="hidden">
		<% t.inspirations.each do |i| %>
		<%= i.quote %>
		<% end %>
		<%= link_to "more", t %>
		</div>

		</li>
		<% end %>
	</ul>
</nav>

	<br>
	<!-- <h2>Rando Quotes From mah Subcriptions</h2>
	<% @user_themes_array.each do |user_theme| %>
		<small><%= user_theme.name %></small><p>
		<h3><%= user_theme.inspirations.shuffle.first.quote %></h3>
		<br>	
	<% end %> -->
<% else %>
	<div id="quote">
  "Success is not final, failure is not fatal, it is the courage to continue that counts."
  </div>
<% end %>