<!DOCTYPE html>
<html>
<head>
  <title>Futw</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
 
</head>
<body>
    
<div id="user_nav">
  <% if current_user %>
     <%= image_tag current_user.image %><%= current_user.email %><strong><%= current_user.name %></strong><%= current_user.phone_number %>
    <br>
    <small><%= link_to "Sign out", signout_path, id: "sign_out" %></small>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
