<!DOCTYPE html>
<html>
<head>
  <title>Futw</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
 
</head>
<body>

<ul class ="nav nav-justified">
    <% if current_user %>
      <li id="active"><strong><%= current_user.name %></strong></li>
      <br>
      <li id="active"><small><%= link_to "Update Info", "/users/update" %></li>
      <br>
      <li id="active"><%= link_to "Sign out", signout_path, id: "sign_out" %></small></li>
    <% else %>
      <li id="active"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
    <% end %>
  </ul>
  </div>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
