<!DOCTYPE html>
<html>
<head>
  <title>Futw</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
 
</head>
<body>

<ul class ="top">
    <% if current_user %>
    <a id="top">
      <li><small><%= link_to "Update Info", "/users/update" %></li>
      <li><%= link_to "Sign out", signout_path, id: "sign_out" %></small></li>
      <li><%= link_to "admin", inspirations_path %></li>
    <% else %>
      <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
    </a>
    <% end %>
  </ul>
  </div>


  <%= yield %>

</body>
</html>
